<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Logging3DproxyApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Logging3DproxyApp.Properties.Settings>
            <setting name="ListenPort" serializeAs="String">
                <value>8090</value>
            </setting>
            <setting name="Resource1" serializeAs="String">
                <value>STBTS</value>
            </setting>
            <setting name="EndPoint1" serializeAs="String">
                <value>http://10.9.201.213:8090/nordbro/3d</value>
            </setting>
            <setting name="Resource2" serializeAs="String">
                <value>HLS</value>
            </setting>
            <setting name="EndPoint2" serializeAs="String">
                <value>http://10.9.202.228:8090/nordbro/3dhls</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>d:\Logs\Proxy3D</value>
            </setting>
            <setting name="TimeoutInSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StatusCodeOnTimeout" serializeAs="String">
                <value>503</value>
            </setting>
            <setting name="StatusCodeOnPutPostTimeout" serializeAs="String">
                <value>503</value>
            </setting>
            <setting name="StatusCodeOnDeleteTimeout" serializeAs="String">
                <value>503</value>
            </setting>
        </Logging3DproxyApp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>